.app {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
}

.app-navbar {
  display: flex;
  height: var(--navbar-height);
  background: var(--color-bg);
}

.app-container {
  position: relative;
  flex-grow: 1;
}

.app-container .fade-enter {
  opacity: 0.01;
}

.app-container .fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.app-container .fade-exit {
  opacity: 1;
}

.app-container .fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.app-container-tg {
  position: relative;
}

.app-container-rs {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.app-window,
.app-container-tg,
.app-container-rs {
  width: 100%;
  height: 100%;
}

.app-window {
  background: white;
}
